*{
	font-family: "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 16px;
}

h1{
	font-size: 60px;
	margin: 25px 0 15px 0;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
	margin-bottom: 24px;
}

a:hover{
	text-decoration: none;
}

.padding-none{
	padding: 0px;
}

li a{
	font-size: 14px;
}

.container-fluid{
	padding: 0px;
}

.navbar{
	min-height: 61px;
	border-radius: 0px;
}

.navbar-default{
	background-color: #fff;
	border-bottom: 1px solid #dce0e0;
}

.navbar-brand{
	height: 100%;
	padding-left: 30px;
}

.navbar-header>.navbar-brand:hover{
	background-color: #f5f5f5;
}

.navbar-brand>img{
	height: 31px;
}

.right-border{
	height: 100%;
	border-right: 1px solid #dce0e0;
}

.nav > li > a{
	padding: 0 19px;
	line-height: 61px;
}

.navbar-default .navbar-nav>li>a:hover{
	color: inherit;
	background-color: #f5f5f5;
}

.navbar-right{
	margin-right: 0;
}

.topSection{
	height: 600px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.topSection_content{
	z-index: 100;
}

.topSection_title{
	color: #fff;
	position: absolute;
	top: 30%;
	z-index: 2;
	width: 100%;
}

video{
	z-index: 0;
	width: 100%;
}

.btn_opacity{
	font-size: 16px;
	padding: 9px 27px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
}

.btn_opacity:hover{
	background-color: rgba(0, 0, 0, 0.35);
}

.topSection_search{
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 30px 0 30px 0;
}

input, select{
	float: left;
	padding: 10px 10px;
	border: none;
	font-size: 16px;
	-webkit-appearance:none;
	
}

select:active{
	outline: none;
}

.bar{

	border: 1px solid #c4c4c4;
	border-radius: 2px;
	line-height: 1;
}

input:focus{
	outline: none;
}

i.icon-arrow-right {
    line-height: 1.1;
    font-size: 16px;
    float: left;
    line-height: 36px;
}

.bar-setting{
	background-color: #fff;
	margin-left: -1px;
}

.location{
	width: 100%;
}

.bar select{
	background-color: #fff;
	border-radius: 0px;
}

.btn{
	border-radius: 2px;
	font-size: 16px;
	padding: 8px 27px;
	border: 0px;
	border-bottom: 1px solid #e00007;
}

.btn-red{
	background-color: #ff5a5f;
	color: #fff;
}

.border-delete{
	border: none;
}

.title{
	text-align: center;
}

.title-block{
	margin-top: 48px;
	margin-bottom: 36px;
}

.pictures{
	height: 390px;
	background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
}

.pictures:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.white-btn{
	background-color: #fff;
	border: 1px solid #c4c4c4;
	width: 100%;
	margin-top: 6px;
}

.white-btn:hover{
	border-color: #aaa;
}

.panel{
	background-color: #edefed;
}

.rent-people{
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
}

.va-middle{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-weight: 100;
}

.rent p{
	font-size: 14px;
}

.rent h3{
	margin-bottom: 0px;
}

.price-tag{
	font-size: 14px;
	background-color: rgba(45, 45, 45, 0.9);
	padding: 7px 10px;
	color: #fff;
	position: absolute;
	bottom: 60px;
}

.price-tag span{
	font-size: 24px;
	vertical-align: top;
}

.carousel{
	height: 600px;
	overflow: hidden;
	margin-top: 48px;
}

.carousel-control{
	width: auto;
	top: 50%;
}

.carousel-control.left,
.carousel-control.right{
	background-image: none;
}

.carousel-control i{
	font-size: 60px;
	line-height:1;
	text-shadow: none;
	opacity: .7;
	padding: 20px;
}

.carousel-img{
	position: relative;
	width: 100%;
	top: -100px;
}

.carousel{
	background-color: #ffb400;
}

.carousel-caption{
	text-shadow: none;
	top: 50%;
}
